<a href="https://colab.research.google.com/github/madipeddisairaj/hi/blob/main/untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy 
import math 
import random
import pandas

In [ ]:
product = pandas.read_csv('/content/drive/MyDrive/2105A42012.csv')
product.drop(['User ID'], axis = 1, inplace = True)
product.head(10)

  Social Media  Gender  Age  EstimatedSalary  Purchased
0     Facebook    Male   19            19000          0
1      Twitter    Male   35            20000          0
2    Instagram  Female   26            43000          0
3      Linkdin  Female   27            57000          0
4     Facebook    Male   19            76000          0
5      Twitter    Male   27            58000          0
6    Instagram  Female   27            84000          0
7      Linkdin  Female   32           150000          1
8     Facebook    Male   25            33000          0
9      Twitter  Female   35            65000          0

In [ ]:
varlist =  ['Gender']
def binary_map(x):
    return x.map({'Male': 1, "Female": 0})

product[varlist] = product[varlist].apply(binary_map)

In [ ]:
status = pandas.get_dummies(product['Social Media'], drop_first = True)
product = pandas.concat([product, status], axis = 1)
product.drop(['Social Media'], axis = 1, inplace = True)
product

     Gender  Age  EstimatedSalary  Purchased  Instagram  Linkdin  Twitter
0         1   19            19000          0          0        0        0
1         1   35            20000          0          0        0        1
2         0   26            43000          0          1        0        0
3         0   27            57000          0          0        1        0
4         1   19            76000          0          0        0        0
..      ...  ...              ...        ...        ...      ...      ...
395       0   46            41000          1          0        0        0
396       1   51            23000          1          0        0        1
397       0   50            20000          1          1        0        0
398       1   36            33000          0          0        1        0
399       0   49            36000          1          0        0        0

[400 rows x 7 columns]

In [ ]:
print(product.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    int64
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
 4   Instagram        400 non-null    uint8
 5   Linkdin          400 non-null    uint8
 6   Twitter          400 non-null    uint8
dtypes: int64(4), uint8(3)
memory usage: 13.8 KB
None

In [ ]:
print(product.describe())

           Gender         Age  EstimatedSalary   Purchased   Instagram  \
count  400.000000  400.000000       400.000000  400.000000  400.000000
mean     0.490000   40.175000     69742.500000    0.357500    0.260000
std      0.500526   31.709511     34096.960282    0.479864    0.439184
min      0.000000   18.000000     15000.000000    0.000000    0.000000
25%      0.000000   30.000000     43000.000000    0.000000    0.000000
50%      0.000000   37.000000     70000.000000    0.000000    0.000000
75%      1.000000   46.000000     88000.000000    1.000000    1.000000
max      1.000000  480.000000    150000.000000    1.000000    1.000000

          Linkdin     Twitter
count  400.000000  400.000000
mean     0.217500    0.260000
std      0.413062    0.439184
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      0.000000    1.000000
max      1.000000    1.000000

In [ ]:
def detect_outliers_zscore(data):
    outliers = []
    thres = 1
    mean = numpy.mean(data)
    std = numpy.std(data)
    for i in data:
        z_score = (i-mean)/std
        if (numpy.abs(z_score) > thres):
            outliers.append(i)
    return outliers

In [ ]:
sample_outliers_Age = detect_outliers_zscore(product['Age'])
print("Outliers in Age column from Z-scores method: ", sample_outliers_Age)

Outliers in Age column from Z-scores method:  [480, 270, 370]

In [ ]:
print(product.describe())

           Gender         Age  EstimatedSalary   Purchased   Instagram  \
count  400.000000  400.000000       400.000000  400.000000  400.000000
mean     0.490000   40.175000     69742.500000    0.357500    0.260000
std      0.500526   31.709511     34096.960282    0.479864    0.439184
min      0.000000   18.000000     15000.000000    0.000000    0.000000
25%      0.000000   30.000000     43000.000000    0.000000    0.000000
50%      0.000000   37.000000     70000.000000    0.000000    0.000000
75%      1.000000   46.000000     88000.000000    1.000000    1.000000
max      1.000000  480.000000    150000.000000    1.000000    1.000000

          Linkdin     Twitter
count  400.000000  400.000000
mean     0.217500    0.260000
std      0.413062    0.439184
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      0.000000    1.000000
max      1.000000    1.000000

In [ ]:
print(product.isnull().sum())

Gender             0
Age                0
EstimatedSalary    0
Purchased          0
Instagram          0
Linkdin            0
Twitter            0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
dataframe = product.values
X, y = dataframe[:, :-1], dataframe[:, -1]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 10)
x_train

array([[     1,     37,  79000,      1,      0,      1],
       [     1,     38,  61000,      0,      0,      0],
       [     1,     20,  74000,      0,      0,      0],
       ...,
       [     1,     29,  80000,      0,      0,      1],
       [     0,     39,  61000,      0,      0,      0],
       [     0,     42, 108000,      1,      0,      1]])